@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --clr-list-bg: hsl(0, 0%, 100%);
  --clr-list-bg-secondary: hsl(0, 0%, 93%);
  --clr-bg: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --clr-text-completed: hsl(233, 11%, 84%);
  --clr-text-secondary: hsl(236, 9%, 61%);
  --clr-text-secondary-hover: hsl(237, 18%, 19%);
  --clr-bright-blue: hsl(220, 98%, 61%);
}

.dark-mode {
  background: url("../images/bg-mobile-dark.jpg") no-repeat, var(--clr-bg);
  background-size: contain;
  --clr-list-bg: hsl(235, 24%, 19%);
  --clr-list-bg-secondary: hsl(237, 21%, 16%);
  --clr-bg: hsl(235, 21%, 11%);
  --clr-text: hsl(234, 39%, 85%);
  --clr-text-completed: hsl(237, 14%, 26%);
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-text-secondary-hover: hsl(236, 33%, 92%);
  --clr-box-shadow: hsl(235, 21%, 11%);
  --clr-Dark-grayish-blue: hsl(234, 11%, 52%);
}

@media only screen and (min-width: 850px) {
  .dark-mode {
    background: url("../images/bg-desktop-dark.jpg") no-repeat, var(--clr-bg);
    background-size: contain;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  background: url("../images/bg-mobile-light.jpg") no-repeat, var(--clr-bg);
  background-size: contain;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@media only screen and (min-width: 850px) {
  body {
    background: url("../images/bg-desktop-light.jpg") no-repeat, var(--clr-bg);
    background-size: contain;
  }
}

.todo-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-list-bg);
  padding: 1.85rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
          box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
  position: relative;
}

.todo-input::after {
  content: "input field is empty";
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5rem;
  top: -2.85rem;
  left: 50%;
  border-radius: 0.25rem 0.25rem 0 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: var(--clr-bright-blue);
  color: white;
  z-index: 999;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: var(--opacity, 0);
}

@media only screen and (min-width: 850px) {
  .todo-input::after {
    top: 25%;
    left: calc(100% - 1rem);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 0.6rem 1.5rem;
    border-radius: 0.25rem;
  }
}

.todo-input .circle {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 999rem;
  border: solid var(--clr-text-completed) 2px;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  cursor: pointer;
}

.todo-input .circle:hover {
  background: var(--clr-bright-blue);
}

.todo-input .input {
  background: none;
  border: none;
  color: var(--clr-text);
  width: 100%;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.todo-input .input:focus {
  outline: none;
}

.todo-input .input::-webkit-input-placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-input .input:-ms-input-placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-input .input::-ms-input-placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-input .input::placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-item, .todo-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.85rem;
  background-color: var(--clr-list-bg);
  border-bottom: solid 1px var(--clr-text-completed);
  cursor: -webkit-grab;
  cursor: grab;
}

.todo-item + .todo-item, .todo-empty + .todo-item, .todo-item + .todo-empty, .todo-empty + .todo-empty {
  border-radius: 0;
}

.todo-item:hover .close, .todo-empty:hover .close {
  visibility: visible;
}

.todo-item.completed, .completed.todo-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-item.hidden, .hidden.todo-empty {
  display: none;
}

.todo-item > .checkbox, .todo-empty > .checkbox {
  cursor: pointer;
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 999rem;
  border: solid var(--clr-text-completed) 2px;
  position: relative;
}

.todo-item > .checkbox:hover, .todo-empty > .checkbox:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-list-bg)), to(var(--clr-list-bg))) padding-box, -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3)) border-box;
  background: linear-gradient(var(--clr-list-bg), var(--clr-list-bg)) padding-box, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 0.2rem solid transparent;
}

.todo-item > .checkbox.toggleCheck, .todo-empty > .checkbox.toggleCheck {
  background: url("../images/icon-check.svg") center no-repeat, -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3)) border-box;
  background: url("../images/icon-check.svg") center no-repeat, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 0.2rem solid transparent;
  background-size: 1.25rem 1.25rem, 100% 100%;
}

.todo-item > .todoText, .todo-empty > .todoText {
  margin-left: 2rem;
  color: var(--clr-text);
  display: inline;
  margin-right: 2rem;
  cursor: pointer;
}

.todo-item > .todoText.completed, .todo-empty > .todoText.completed {
  color: var(--clr-text-completed);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-decoration-thickness: 0.2rem;
}

.todo-item > .todoText:hover, .todo-empty > .todoText:hover {
  color: var(--clr-text-secondary-hover);
}

.todo-item > .close, .todo-empty > .close {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  background: url("../images/icon-cross.svg") no-repeat center;
}

@media only screen and (min-width: 850px) {
  .todo-item > .close, .todo-empty > .close {
    visibility: hidden;
  }
}

.todo-empty {
  padding: 1.85rem;
  display: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.todo-empty.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-empty .empty-text {
  color: var(--clr-text-secondary);
  margin-left: auto;
  margin-right: auto;
}

.todo-controls {
  padding: calc(1.85rem + 0.35rem);
  background: var(--clr-list-bg);
  border-radius: 0 0 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (min-width: 850px) {
  .todo-controls {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.todo-controls .itemsLeft, .todo-controls .clear {
  color: var(--clr-text-secondary);
  font-size: 1.5rem;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  width: 100%;
}

.todo-controls .clear {
  text-align: end;
  cursor: pointer;
  width: 100%;
}

.todo-controls .clear:hover {
  color: var(--clr-text-secondary-hover);
}

.todo-controls > .filter-controls--wrap {
  padding: calc(1.85rem + 0.3rem);
  background: var(--clr-list-bg);
  border-radius: 0 0 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
          box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
  position: absolute;
  width: 100%;
  top: 8rem;
  left: 0rem;
}

@media only screen and (min-width: 850px) {
  .todo-controls > .filter-controls--wrap {
    position: unset;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
    margin: 0;
  }
}

.todo-controls > .filter-controls--wrap .filter-li {
  cursor: pointer;
  list-style: none;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--clr-text-secondary);
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.todo-controls > .filter-controls--wrap .filter-li:hover {
  color: var(--clr-bright-blue);
}

.todo-controls > .filter-controls--wrap .filter-li.selected {
  color: var(--clr-bright-blue);
}

.todo-controls > .filter-controls--wrap .filter-li + .filter-li {
  margin-left: 2.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 65rem;
  padding: 3rem 2rem 4rem 2rem;
}

@media only screen and (min-width: 850px) {
  .header {
    padding: 7rem 2rem 2rem 2rem;
  }
}

.header > .title {
  color: white;
  letter-spacing: 1rem;
  -webkit-transform: translateY(0.48rem);
          transform: translateY(0.48rem);
  font-size: clamp(3rem, 5vw, 4.5rem);
}

.header > #theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.header > #theme-toggle:focus {
  outline: none;
}

.header > #theme-toggle .moon {
  display: block;
}

.header > #theme-toggle .moon.hide {
  display: none;
}

.header > #theme-toggle .sun {
  display: none;
}

.header > #theme-toggle .sun.display {
  display: block;
}

.main {
  width: 100%;
  max-width: 65rem;
  padding: 0 2rem 2rem 2rem;
  margin-bottom: 15rem;
}

@media only screen and (min-width: 850px) {
  .main {
    padding: 2rem;
    margin-bottom: 8rem;
  }
}

.todo--container {
  display: none;
  margin-top: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
          box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
  position: relative;
}

.todo--container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo--container > .todo-list {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--clr-list-bg-secondary);
  overflow: hidden;
}

.todo--container > .todo-list .todo-item, .todo--container > .todo-list .todo-empty {
  width: 100%;
}

.todo--container .instructions {
  width: 100%;
  position: absolute;
  bottom: -14rem;
  text-align: center;
  color: var(--clr-text-secondary);
}

@media only screen and (min-width: 850px) {
  .todo--container .instructions {
    bottom: -7rem;
  }
}
/*# sourceMappingURL=main.css.map */