@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --clr-list-bg: white;
  --clr-bg: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --clr-text-completed: hsl(233, 11%, 84%);
  --clr-text-secondary: hsl(236, 9%, 61%);
  --clr-text-secondary-hover: hsl(235, 19%, 35%);
  --clr-bright-blue: hsl(220, 98%, 61%);
}

.dark-mode {
  background: url("../images/bg-mobile-dark.jpg") no-repeat, var(--clr-bg);
  background-size: contain;
  --clr-list-bg: hsl(235, 24%, 19%);
  --clr-bg: hsl(235, 21%, 11%);
  --clr-text: hsl(234, 39%, 85%);
  --clr-text-completed: hsl(237, 14%, 26%);
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-text-secondary-hover: hsl(236, 33%, 92%);
  --clr-box-shadow: hsl(235, 21%, 11%);
  --clr-Dark-grayish-blue: hsl(234, 11%, 52%);
}

@media only screen and (min-width: 850px) {
  .dark-mode {
    background: url("../images/bg-desktop-dark.jpg") no-repeat, var(--clr-bg);
    background-size: contain;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  background: url("../images/bg-mobile-light.jpg") no-repeat, var(--clr-bg);
  background-size: contain;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 850px) {
  body {
    background: url("../images/bg-desktop-light.jpg") no-repeat, var(--clr-bg);
    background-size: contain;
  }
}

.todo-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-list-bg);
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px 10px rgba(32, 32, 32, 0.062);
          box-shadow: 0 5px 15px 10px rgba(32, 32, 32, 0.062);
}

.todo-input > .circle {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 999rem;
  border: solid var(--clr-text-completed) 2px;
  position: relative;
}

.todo-input > .input {
  background: none;
  border: none;
  color: var(--clr-text);
  width: 100%;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.todo-input > .input:focus {
  outline: none;
}

.todo-input > .input::-webkit-input-placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-input > .input:-ms-input-placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-input > .input::-ms-input-placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-input > .input::placeholder {
  color: var(--clr-text-secondary);
  opacity: 1;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: var(--clr-list-bg);
  border-radius: 0.5rem 0.5rem 0 0;
}

.todo-item + .todo-item {
  border-radius: 0;
  border-top: solid 1px var(--clr-text-completed);
}

.todo-item:hover .close {
  visibility: visible;
}

.todo-item > .checkbox {
  cursor: pointer;
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 999rem;
  border: solid var(--clr-text-completed) 2px;
  position: relative;
}

.todo-item > .checkbox:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-list-bg)), to(var(--clr-list-bg))) padding-box, -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3)) border-box;
  background: linear-gradient(var(--clr-list-bg), var(--clr-list-bg)) padding-box, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 0.2rem solid transparent;
}

.todo-item > .checkbox.toggleCheck {
  background: url("../images/icon-check.svg") center no-repeat, -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3)) border-box;
  background: url("../images/icon-check.svg") center no-repeat, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 0.2rem solid transparent;
  background-size: 1.25rem 1.25rem, 100% 100%;
}

.todo-item > .todoText {
  margin-left: 2rem;
  color: var(--clr-text);
  display: inline;
  margin-right: 2rem;
}

.todo-item > .todoText.completed {
  color: var(--clr-text-completed);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.todo-item > .close {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  background: url("../images/icon-cross.svg") no-repeat center;
}

@media only screen and (min-width: 850px) {
  .todo-item > .close {
    visibility: hidden;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60rem;
  padding: 4rem 2rem 2rem 2rem;
}

@media only screen and (min-width: 850px) {
  .header {
    padding: 7rem 2rem 2rem 2rem;
  }
}

.header > .title {
  color: white;
  letter-spacing: 1rem;
}

.header > #theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.header > #theme-toggle:focus {
  outline: none;
}

.header > #theme-toggle .moon {
  display: block;
}

.header > #theme-toggle .moon.hide {
  display: none;
}

.header > #theme-toggle .sun {
  display: none;
}

.header > #theme-toggle .sun.display {
  display: block;
}

.main {
  width: 100%;
  max-width: 60rem;
  padding: 0 2rem 2rem 2rem;
}

@media only screen and (min-width: 850px) {
  .main {
    padding: 2rem;
  }
}

.todo--container {
  -webkit-box-shadow: 0 5px 15px 10px rgba(32, 32, 32, 0.062);
          box-shadow: 0 5px 15px 10px rgba(32, 32, 32, 0.062);
  display: none;
  border-radius: 0.5rem;
}

.todo--container.active {
  display: block;
}

.todo-list {
  width: 100%;
  margin-top: 3rem;
}

.todo-list > .todo-item {
  width: 100%;
}

.todo-controls {
  padding: 1.5rem;
  background: var(--clr-list-bg);
  border-top: solid 1px var(--clr-text-completed);
  border-radius: 0 0 0.5rem 0.5rem;
}
/*# sourceMappingURL=main.css.map */