.header {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    padding: 4rem 2rem 4rem 2rem;

    @include desktopSize {
        padding: 7rem 2rem 2rem 2rem;
    }

    > .title {
        color: white;
        letter-spacing: 1rem;
    }

    > #theme-toggle {
        background: none;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        .moon {
            display: block;

            &.hide {
                display: none;
            }
        }

        .sun {
            display: none;

            &.display {
                display: block;
            }
        }
    }
}
