.todo--container {
    display: none;

    &.active {
        display: block;
    }
}

.todo--wrap {
    box-shadow: $box-shadow;
    margin-top: 3rem;

    > .todo-list {
        width: 100%;
        background: red;
        border-radius: $border-radius $border-radius 0 0;
        overflow: hidden;

        // 🔻 this is the todo-item component styles for this container
        .todo-item {
            width: 100%;
        }
    }
}
