.todo--container {
    display: none;

    &.active {
        display: block;
    }
}

.todo--wrap {
    box-shadow: $box-shadow;
    margin-top: 3rem;
    background: var(--clr-list-bg);
    border-radius: $border-radius;
    overflow: hidden;

    > .todo-list {
        width: 100%;

        // 🔻 this is the todo-item component styles for this container
        .todo-item {
            width: 100%;
        }
    }
}
