.todo-list {
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 5px 15px 10px rgba(32, 32, 32, 0.062);
    display: none;

    &.active {
        display: flex;
        flex-direction: column;
    }

    > .todo-item {
        width: 100%;
    }
}
