.todo-list {
    width: 100%;
    margin-top: 3rem;
    display: none;
    box-shadow: 0 5px 15px 10px rgba(32, 32, 32, 0.062);

    &.active {
        display: block;
    }

    // 🔻 this is the todo-item component styles for this container
    > .todo-item {
        width: 100%;
    }
}
