.test-box {
    width: 50vw;
    height: 50vh;
    background: var(--clr-list-bg);
    box-shadow: 0 15px 25px 10px rgba(54, 54, 54, 0.137);

    p {
        color: var(--clr-text);
    }

    .completed {
        color: var(--clr-text-completed);
    }

    .secondary {
        color: var(--clr-text-secondary);
    }
}
