$font-stack: "Josefin Sans", sans-serif;
$gradient: to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%);
$max-width: 65rem;
$border-radius: 0.5rem;
$box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);
$padding: 1.85rem;

$bg-light-mobile: url("../images/bg-mobile-light.jpg") no-repeat,
    var(--clr-bg);
$bg-light-desktop: url("../images/bg-desktop-light.jpg") no-repeat,
    var(--clr-bg);

$bg-dark-mobile: url("../images/bg-mobile-dark.jpg") no-repeat,
    var(--clr-bg);
$bg-dark-desktop: url("../images/bg-desktop-dark.jpg") no-repeat,
    var(--clr-bg);

// 🔻🔻 -- CSS variables for theme toggle -- 🔻🔻
:root {
    --clr-list-bg: hsl(0, 0%, 100%);
    --clr-list-bg-secondary: hsl(0, 0%, 93%);
    --clr-bg: hsl(0, 0%, 98%);
    --clr-text: hsl(235, 19%, 35%);
    --clr-text-completed: hsl(233, 11%, 84%);
    --clr-text-secondary: hsl(236, 9%, 61%);
    --clr-text-secondary-hover: hsl(237, 18%, 19%);
    //
    --clr-bright-blue: hsl(220, 98%, 61%);
}

.dark-mode {
    background: $bg-dark-mobile;
    background-size: contain;
    //
    --clr-list-bg: hsl(235, 24%, 19%);
    --clr-list-bg-secondary: hsl(237, 21%, 16%);

    --clr-bg: hsl(235, 21%, 11%);
    --clr-text: hsl(234, 39%, 85%);
    --clr-text-completed: hsl(237, 14%, 26%);
    --clr-text-secondary: hsl(234, 11%, 52%);
    --clr-text-secondary-hover: hsl(236, 33%, 92%);
    //
    --clr-box-shadow: hsl(235, 21%, 11%);
    --clr-Dark-grayish-blue: hsl(234, 11%, 52%);

    @include desktopSize {
        background: $bg-dark-desktop;
        background-size: contain;
    }
}
