$font-stack: "Josefin Sans", sans-serif;

$bg-light: url("../images/bg-desktop-light.jpg") no-repeat, var(--clr-bg);
$bg-dark: url("../images/bg-desktop-dark.jpg") no-repeat, var(--clr-bg);
$gradient: to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%);

// 🔻🔻 css variables for theme toggle 🔻🔻
:root {
    --clr-list-bg: white;
    --clr-bg: hsl(0, 0%, 98%);
    --clr-text: hsl(235, 19%, 35%);
    --clr-text-completed: hsl(233, 11%, 84%);
    --clr-text-secondary: hsl(236, 9%, 61%);
    --clr-text-secondary-hover: hsl(235, 19%, 35%);
    //
    --clr-bright-blue: hsl(220, 98%, 61%);
}

.dark-mode {
    background: $bg-dark;
    background-size: contain;
    //
    --clr-list-bg: hsl(235, 24%, 19%);
    --clr-bg: hsl(235, 21%, 11%);
    --clr-text: hsl(234, 39%, 85%);
    --clr-text-completed: hsl(233, 14%, 35%);
    --clr-text-secondary: hsl(233, 14%, 35%);
    --clr-text-secondary-hover: hsl(236, 33%, 92%);
    //
    --clr-box-shadow: hsl(235, 21%, 11%);
    --clr-Dark-grayish-blue: hsl(234, 11%, 52%);
    --unknown: hsl(237, 14%, 26%);
}
