.todo-input {
    display: flex;
    align-items: center;
    background-color: var(--clr-list-bg);
    padding: 1.5rem;
    border-radius: $border-radius;
    box-shadow: 0 5px 15px rgba(32, 32, 32, 0.26);

    > .circle {
        width: 100%;
        max-width: 2.5rem;
        height: 2.5rem;
        border-radius: 999rem;
        border: solid var(--clr-text-completed) 2px;
        position: relative;
    }

    > .input {
        background: none;
        border: none;
        color: var(--clr-text);
        width: 100%;
        font-size: 1.8rem;
        margin-left: 2rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--clr-text-secondary);
            opacity: 1;
        }
    }
}
