.todo-input {
    display: flex;
    align-items: center;
    background-color: var(--clr-list-bg);
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    position: relative;

    &::after {
        content: "input field is empty";
        position: absolute;
        transform: translateX(-50%);
        padding: 0.5rem 1.5rem;
        top: -2.45rem;
        left: calc(50%);
        font-size: 1.4rem;
        border-radius: 0.25rem 0.25rem 0 0;
        width: max-content;
        background: var(--clr-tooltip);
        color: white;
        z-index: 999;

        transition: opacity 0.25s;
        // 🔻 this gets changed with javaScript
        opacity: var(--opacity, 0);

        @include desktopSize {
            font-size: unset;
            top: 25%;
            left: calc(100% - 1rem);
            transform: translateX(-100%);
            border-radius: 0.25rem;
        }
    }

    .circle {
        width: 100%;
        max-width: 2.5rem;
        height: 2.5rem;
        border-radius: 999rem;
        border: solid var(--clr-text-completed) 2px;
        transition: background 0.25s;
        cursor: pointer;

        &:hover {
            background: var(--clr-bright-blue);
        }
    }

    .input {
        background: none;
        border: none;
        color: var(--clr-text);
        width: 100%;
        font-size: 1.8rem;
        margin-left: 2rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--clr-text-secondary);
            opacity: 1;
        }
    }
}
