.todo-controls {
    padding: calc(#{$padding} + 0.35rem);
    background: var(--clr-list-bg);
    border-radius: 0 0 $border-radius $border-radius;
    display: flex;
    position: relative;

    @include desktopSize {
        align-items: center;
        justify-content: space-between;
    }

    .itemsLeft {
        color: var(--clr-text-secondary);
        font-size: 1.5rem;
        transition: color 0.25s;
        width: 100%;
    }

    .clear {
        @extend .itemsLeft;
        text-align: end;
        cursor: pointer;
        width: 100%;

        &:hover {
            color: var(--clr-text-secondary-hover);
        }
    }

    > .filter-controls--wrap {
        padding: calc(#{$padding} + 0.3rem);
        background: var(--clr-list-bg);
        border-radius: 0 0 $border-radius $border-radius;
        display: flex;
        justify-content: center;
        border-top: none;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        position: absolute;
        width: 100%;
        top: 8rem;
        left: 0rem;

        @include desktopSize {
            position: unset;
            width: max-content;
            box-shadow: unset;
            padding: 0;
            margin: 0;
        }

        .filter-li {
            cursor: pointer;
            list-style: none;
            font-size: 1.7rem;
            font-weight: 700;
            color: var(--clr-text-secondary);
            transition: color 0.25s;

            &:hover {
                color: var(--clr-bright-blue);
            }

            &.selected {
                color: var(--clr-bright-blue);
            }

            & + .filter-li {
                margin-left: 2.5rem;
            }
        }
    }
}
