.todo-controls {
    padding: 2rem;
    background: var(--clr-list-bg);
    border-radius: 0 0 $border-radius $border-radius;
    display: flex;
    position: relative;

    @include desktopSize {
        align-items: center;
        justify-content: space-between;
    }

    .itemsLeft {
        color: var(--clr-text-secondary);
        font-size: 1.4rem;
        transition: color 0.25s;
        width: 100%;
    }

    .clear {
        @extend .itemsLeft;
        text-align: end;
        cursor: pointer;
        width: 100%;

        &:hover {
            color: var(--clr-text-secondary-hover);
        }
    }

    > .filter-controls--wrap {
        padding: 2rem;
        background: var(--clr-list-bg);
        border-radius: 0 0 $border-radius $border-radius;
        display: flex;
        justify-content: center;
        border-top: none;
        border-radius: $border-radius;
        margin-top: 2rem;
        box-shadow: $box-shadow;
        position: absolute;
        width: 100%;
        top: 5rem;
        left: 0rem;

        @include desktopSize {
            position: unset;
            width: max-content;
            box-shadow: unset;
            padding: 0;
            margin: 0;
        }

        .filter-li {
            cursor: pointer;
            list-style: none;
            font-size: 1.4rem;
            font-weight: 700;

            & + .filter-li {
                margin-left: 2.5rem;
            }

            .all,
            .active,
            .completed {
                color: var(--clr-text-secondary);

                &:hover {
                    color: var(--clr-bright-blue);
                }

                &.selected {
                    color: var(--clr-bright-blue);
                }
            }
        }
    }
}
