html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
    font-size: 1.8rem;
    font-family: $font-stack;
    background: $bg-light-mobile;
    background-size: contain;
    transition: background 0.25s;
    @include flexCenter();
    justify-content: flex-start;
    animation: fadeIn 0.5s;

    @include desktopSize {
        background: $bg-light-desktop;
        background-size: contain;
    }
}
